@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #79A896;
}
body {
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.vertical-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 8px;
    background-color: #CFD8DC; /* or add it to the track */
}

/* Add a thumb */
.vertical-scrollbar::-webkit-scrollbar-thumb {
    /*background: #90A4AE;*/
    background: #79A896;
}

[v-cloak] {display: none}

.btn-primary {
    @apply inline-flex justify-center items-center py-2 px-4 border shadow-sm font-medium rounded-md text-white bg-greenlight hover:bg-greendark hover:font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition;
}
.btn-secondary {
    @apply inline-flex justify-center items-center py-2 px-4 border shadow-sm font-medium rounded-md bg-white hover:bg-gray-200 hover:font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition;
}
